.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/2023/
public/about/
public/archives/
public/categories/
public/css/
public/js/
public/links/
public/tags/
public/xml/
public/404.html
public/index.html
public/local-search.xml
.deploy*/
_multiconfig.yml
source/_posts/vx.json
source/_posts/vx_notebook/vx_notebook.json
source/_posts/vx_notebook/notebook.db
source/_posts/vx_notebook/
source/_posts/.obsidian/
